body, html {
  height:100%;
}

.navbar-light .navbar-nav .nav-link {
  color:#fff;
}

.btn.btn-primary.btn-block {
  color:#007bff;
  background-color:rgba(0,123,255,0);
}

.btn.btn-primary {
  color:#007bff;
  background-color:rgba(0,123,255,0);
}

p {
  color: white;
}

h1,h2,h3,h4,h5{
  color: white;
}

h2.text-center{
  color: white;
}

#id_password {
    display: None;
}

body {
    color: #fff;
}
