<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task-of-the-day-mvp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Steps-Progressbar.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="bg-image" style="background-image:url(&quot;assets/img/bg-task-of-the-day-new.jpg&quot;);">
    <div></div>
    <nav class="navbar navbar-light navbar-expand-md" style="background-color:rgba(38,153,251,0.4);">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img src="assets/img/Task-of-the-day-logo-light.png" style="width:100px;"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="padding:8px 8px 8px 30px;color:rgba(255,255,255,0.9);">Daily Task</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color:#ffffff;">Account</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Log out</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding:40px 15px;margin:50px 0px 20px 0px;">
                    <h2 class="text-center" style="color:rgb(255,255,255);">Improve Traffic With Link Roundups</h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="margin-bottom:40px;">
            <div class="col-8 mx-auto">
                <p>What is a link roundup? Why should you implement this method?<br>Link roundups are usually posted weekly or monthly, like a newsletter, with links of top products or services. Learn how to find, create and get featured on a roundup.</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 col-lg-2 col-xl-2 mx-auto"><button class="btn btn-primary" type="button" style="width:100%;">Next step</button></div>
    <div></div>
    <div class="col-sm-10 col-md-5 col-lg-5 col-xl-5 mx-auto" style="padding-top:20px;padding-bottom:20px;">
        <div class="steps-progressbar">
            <ul>
                <li class="previous">1</li>
                <li class="active">2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>