{% extends "layout.html" %}
{% block title %}Daily Task - Select Category{% endblock %}
{% block content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding:50px 15px;margin:100px 0px 20px 0px;">
                <h2 class="text-center" style="color:rgb(255,255,255);">Select a category you would like to improve</h2>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="padding:20px;"><button class="btn btn-primary btn-block" type="button" style="background-color:rgba(0,123,255,0);">Traffic</button></div>
            <div class="col-md-4" style="padding:20px;padding-top:20px;"><button class="btn btn-primary btn-block" type="button">Conversion Rate</button></div>
            <div class="col-md-4" style="padding:20px;"><button class="btn btn-primary btn-block" type="button">Bounce Rate</button></div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="padding-top:20px;padding-right:20px;padding-bottom:20px;"><button class="btn btn-primary btn-block" type="button">Marketing</button></div>
            <div class="col-md-4" style="padding:20px;"><button class="btn btn-primary btn-block" type="button">Sales Channels</button></div>
            <div class="col-md-4" style="padding:20px;"><button class="btn btn-primary btn-block" type="button">Customer Relations</button></div>
        </div>
    </div>
</div>
{% endblock %}