{% extends "layout.html" %}

{% block title %}{{ task.title }}{% endblock %}

{% block content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding:10px 15px;margin:15px 0px 15px 0px;">
                <h2 class="text-center" style="color: white">{{ task.title }}</h2>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container" style="margin-bottom:40px;">
        <div style="margin-left: 10%;" class="col-8 col-sm-12 col-xl-10">
             <div class="iframe-container">
                    <center><iframe width="560" height="315" src="{{ task.video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
             </div>
        </div>
        <div class="col-8 mx-auto">
            <p>{{ task.description }}</p>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-3 col-sm-4 col-md-3 col-lg-3 col-xl-3 mx-auto">
                {% for step in task.step_set.all|slice:":1" %}
                <a href="{% url 'step' step.task.id step.step_number %}">
                    <button class="btn btn-primary btn-block" type="button" style="background-color:rgba(0,123,255,0);margin-bottom:0px;">Start Task</button>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}