{% extends 'layout.html' %}


{% block title %}Account - {{ user.username }}{% endblock %}

{% block content %}

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding:40px 15px;margin:50px 0px 20px 0px;">
                <h1>Account</h1>
                <p>Username: {{ user }}</p>
                <p>Email: {{ user.email }}</p>
                <form action="/accounts/profile/edit">
                    <input type="submit" value="Change Email" />
                </form>
                <form action="/accounts/profile/password">
                    <input type="submit" value="Change Password" />
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}